# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objetives__:
- List popular languages for Data Science
- List commonly used Data Science libraries
- Data Science Tools
- Examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Julia
5. Scala
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. scikit
4. Seaborn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
#This a simply arithmetic expression to multiply then add integers
(3*4)+5

17

In [28]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
print(str(hours) + " hours")

3.3333333333333335 hours

## Author
Zulma Adilene Romero Flores